<h1>Add a vendor</h1>

@{
  Layout = "_Layout";
}
<div class="container">
  <h2>Add A Vendor</h2>
  <hr>
  <form action="/vendors" method="post">
  <div class="form-group">
    <label for="vendorName">Vendor Name</label> 
    <input id="vendorName" name="vendorName" class="form-control" type="text" required>
  </div>
  <div class="form-group">
    <label for="vendorDescript">Description</label>
    <input id="vendorDescript" name="vendorDescript" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Add Vendor</button>
  </form>
</div>