<h1>Add a vendor</h1>

<form action="/vendors" method="post">
<label for="vendorName">Vendor Name</label> 
<input id="vendorName" name="vendorName" type="text" required>
<label for="vendorDescript">Description</label>
<input id="vendorDescript" name="vendorDescript" type="text">
<button type="submit">Add Vendor</button>
</form>