@using PierresOrders.Models;

@{
  Layout = "_Layout";
}

<div class="container">
  <h2>Vendor Order History:</h2>
  <hr>
  <ul>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id' class="order-history">@order.Date - @order.Title</li>
  }
  </ul>

  <p><a href='/vendors/@Model["vendor"].Id/orders/new' class="btn btn-outline-info">Add a new Order</a></p>
  <p><a href='/vendors' class="btn btn-outline-info">Return to Vendors list</a></p>
  <p><a href='/' class="btn btn-outline-secondary">Return to Homepage</a></p>
</div>