@using PierresOrders.Models

<h1>Order Details</h1>
<h2>@Model["order"].Title</h2>
<p>Date: @Model["order"].Date</p>
<h4>@Model["order"].Description</h4>
<h4>Price: @Model["order"].Price</h4>

<p><a href='/vendors/@Model["vendor"].Id/'>Back to Order History</a></p>
<p><a href='/vendors/'>View Vendor List</a></p>
