@using PierresOrders.Models

@{
  Layout = "_Layout";
}

<div class="container">
  <h2>Order Details</h2>
  <hr>
  <h3>@Model["order"].Title</h3>
  <h4>Date: @Model["order"].Date</h4>
  <h4>Description: @Model["order"].Description</h4>
  <h4>Price: @Model["order"].Price</h4>

  <p><a href='/vendors/@Model["vendor"].Id/' class="btn btn-info">Back to Order History</a></p>
  <p><a href='/vendors/' class="btn btn-info">View Vendor List</a></p>
</div>